// * {
//     border: 1px solid black !important;
// }


.container {
    overflow-x: hidden;
      .imageContainer {
          text-align: center;
          position: relative;
          display: inline-block;
          max-width: 100%;
  
          .pic {
              display: block;
              max-width: 100%;
              height: auto;
              margin: 0 auto;
  
              & img {
                  display: block;
                  width: 100%;
                  height: auto;
              }
          }
  
          .textOverlay {
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: var(--secondary-text-color);
              padding: 1rem;
              border-radius: 8px;
              text-align: center;
              font-weight: 700;
              font-size: 40px;

              .btn {
                font-family: var(--font);
                font-size: 18px;
                background-color: white;
                color: black;

                &:hover {
                    background-color: rgb(185, 185, 185);
                    color: white;
                }
              }
          }
      }
  
      .destinations {
          display: flex;
          font-family: var(--font);
          margin-top: 3.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
           
          .box {
              .destination_button {
                  display: flex;
                  background-color: white;
                  border-radius: 25px;
                  padding-bottom: 20px;
                  height: auto;
                  border: none;
                  box-shadow: 1px 1px 5px rgb(168, 168, 168);
                  margin-bottom: 2rem;
              }
          }
  
          & img {
              margin-top: 1.5rem;
              margin-right: 1rem;
              height: 450px;
              width: 600px;
              border-radius: 25px;
          }
  
          .top_text {
              display: flex;
              justify-content: center;
              font-size: 26px;
              font-weight: 600;
              margin-bottom: 2rem;
          }
  
          .text {
              display: flex;
              font-size: 22px;
              font-weight: 500;
              flex-direction: column;
              text-align: start;
              width: 45em;
              margin-right: 1rem;
              margin-left: 1rem;
              word-break: break-word;
              hyphens: auto;
  
              & span {
                  text-align: center;
                  font-size: 24px;
                  font-weight: 600;
                  margin-bottom: 0.75rem;
              }
          }
      }
  }
  

@media (max-width: 1765px) {
    .container {
        .destinations {
            .text {
                width: 35em;
            }
        }
    }
}


@media (max-width: 1500px) {
    .container {
        .destinations {
            .text {
                width: 30em;
            }
        }
    }
}

@media (max-width: 1330px) {
    .container {
        .imageContainer {
            .textOverlay {
                top: 35%;
                left: 49%;
            }
        }


        .destinations {
            & img {
                margin-top: 1.5rem;
                margin-right: 1rem;
                height: 450px;
                width: 500px;
            }

            .text {
                width: 25em;
            }
        }
    }
}

@media (max-width: 1180px) {
    .container {
        .imageContainer {
            .textOverlay {
                top: 35%;
                left: 50%;
                font-size: 31px;
            }
        }

        .destinations {

            .box {
                .destination_button {
                    margin-bottom: 2rem;
                    margin-left: 1.5rem;
                }
            }

            & img {
                margin-top: 3.5rem;
                margin-right: 1rem;
                height: 425px;
                width: 475px;
            }

            .text {
                font-size: 20px;
                width: 22em;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {
        .imageContainer {
            .textOverlay {
                font-size: 28px;
            }

            .btn {
                width: 180px;
                height: 55px;
                font-size: 16px;
            }
        }
        .destinations {

            .box {
                .destination_button {
                    margin-left: 0.25rem;
                }
            }

            & img {
                margin-top: 3rem;
                margin-right: 1rem;
                height: 400px;
                width: 425px;
            }

            .text {
                font-size: 18px;
                width: 20em;
            }
        }
    }
}

@media (max-width: 870px) {
    .container {
        .destinations {
            .box {
                .destination_button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 2rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }

            & img {
                display: flex;
                margin-top: 0.75rem;
                margin-right: 0rem;
                height: 350px;
                width: 425px;
                float: left; 
            }

            .text {
                font-size: 20px;
                width: auto;
                text-align: justify;
            }
        }
    }
}

@media (max-width: 800px) {
    .container {
        .imageContainer {
            .textOverlay {
                top: 45%;
                left: 50%;
                font-size: 28px;
            }
        }

        .destinations {
            .box {
                .destination_button {
                    margin-left: 0.75rem;
                }
            }
        }
    }
} 

@media (max-width: 680px) {
    .container {
        .imageContainer {
            .textOverlay {
                font-size: 24px;

                .btn {
                    width: 150px;
                    height: 50px;
                    font-size: 16px;
                }
            }
        }

        .destinations {

            .text {
                font-size: 18px;
            }

            .box {
                .destination_button {
                    & img {
                        margin-top: 0.75rem;
                        margin-right: 0rem;
                        height: 400px;
                        width: 425px;
                    }
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .container {
        .imageContainer {
            .textOverlay {
                font-size: 20px;
                .btn {
                    width: 130px;
                    height: 45px;
                }
            }
        }

        .destinations {
            .top_text {
                font-size: 24px;
            }
            
            .text {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 490px) {
    .container {
        .imageContainer {
            .textOverlay {
                font-size: 16px;
                .btn {
                    width: 110px;
                    height: 45px;
                    font-size: 13px;
                }
            }
        }

        .destinations {

            .top_text {
                font-size: 24px;
            }

            .text {
                font-size: 16px;
            }

            .box {
                .destination_button {
                    margin-bottom: 2rem;
                    margin-left: 0.75rem;

                    & img {
                        height: 300px;
                        width: 400px;
                    }
                }
            }
        }
    }
}


@media (max-width: 420px) {
    .container {
        .imageContainer {
            .textOverlay {
                top: 47%;
                left: 50%;
                font-size: 14px;

                .btn {
                    width: 110px;
                    height: 30px;
                    font-size: 12px;
                }
            }
        }

        .destinations {

            .top_text {
                font-size: 21px;
            }

            .text {
                font-size: 14px;
            }

            .box {
                .destination_button {
                    & img {
                        height: 250px;
                        width: 340px;
                    }
                }
            }
        }
    }
} 