.top {
    display: flex;
    height: 65px;
    align-items: center;
    border-bottom: 1px solid var(--blue-color);
    width: 100%;
    
    .name {
        font-family: var(--font);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.5px;
        letter-spacing: -0.27px;
        margin-left: 7rem;
    }

    .other {
        color: var(--main-color);
        text-decoration: none;
        display: flex;
        margin-left: auto;
        margin-right: 5rem;

        & ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 3rem;
            width: 32.5rem;

            & a {
                text-decoration: none;
                color: var(--main-color);
            }
        }
    }
}

@media (max-width: 1040px) {
    .top {
        .other {
            margin-right: 2rem;
        }
    }
}

@media (max-width: 950px) {
    .top {

        .name {
            margin-left: 3.5rem;
        }

        .other {
            margin-right: 1rem;
        }
    }
}


@media (max-width: 840px) {
    .top {
        .name {
            margin-left: 1.75rem;
        }

    }
}

@media (max-width: 795px) {
    .top {

        .name {
            font-size: 17px;
        }

        .other {
            margin-right: 3rem;
    
            & ul {
                gap: 1.5rem;
                width: 28rem;
            }
        }
    }
}

@media (max-width: 740px) {
    .top {

        .other {
            font-size: 14px;
            margin-right: 2rem;
    
            & ul {
                gap: 1rem;
                width: 22rem;
            }
        }
    }
}

@media (max-width: 640px) {
    .top {
        .name {
            font-size: 16px;
            margin-left: 1rem;
        }
    }
}


@media (max-width: 600px) {
    .top {

        .name {
            font-size: 14px;
        }

        .other {
            font-size: 13px;
            margin-right: 1rem;
    
            & ul {
                gap: 0.75rem;
                width: 20rem;
            }
        }
    }
}

@media (max-width: 530px) {
    .top {

        .name {
            font-size: 13px;
            margin-left: 0.5rem;
        }

        .other {
            font-size: 11.5px;
            margin-right: 0.5rem;
    
            & ul {
                width: 18rem;
            }
        }
    }
}

@media (max-width: 465px) {
    .top {

        .name {
            font-size: 11px;
        }

        .other {
            font-size: 10px;
            margin-right: 1rem;
    
            & ul {
                gap: 0.5rem;
                width: 15rem;
            }
        }
    }
}

@media (max-width: 407px) {
    .top {

        .name {
            font-size: 10px;
            margin-left: 0.35rem;
        }

        .other {
            font-size: 9px;
    
            & ul {
                width: 13.5rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .top {

        .name {
            margin-left: 0.25rem;
        }

        .other {
            margin-right: 0.1rem;
    
            & ul {
                gap: 0.4rem;
            }
        }
    }
}