.top {
    display: flex;
    height: 65px;
    align-items: center;
    width: 100%;
    
    .link {
        text-decoration: none;

        .name {
            font-family: var(--font);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 22.5px;
            letter-spacing: -0.27px;
            margin-left: 2rem;
        }

        &:visited {
            color: black;
            text-decoration: none;
        }
    }

    .other {
        color: var(--main-color);
        text-decoration: none;
        display: flex;
        margin-left: auto;
        margin-right: 5rem;

        & ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 3rem;
            width: 32.5rem;

            & a {
                text-decoration: none;
                color: var(--main-color);
            }
        }
    }
}

@media (max-width: 1040px) {
    .top {
        .other {
            margin-right: 2rem;
        }
    }
}

@media (max-width: 970px) {
    .top {

        .link {
            .name {
                font-size: 16px;
            }
        }

        .other {
            margin-right: 1rem;
        }
    }
}


@media (max-width: 840px) {
    .top {
        .link {
            .name {
                margin-left: 1.75rem;
            }
        }
    }
}

@media (max-width: 795px) {
    .top {

        .link {
            .name {
                font-size: 15px;
                margin-left: 1rem;
            }
        }

        .other {
            margin-right: 3rem;
    
            & ul {
                gap: 1.5rem;
                width: 28rem;
            }
        }
    }
}

@media (max-width: 750px) {
    .top {

        .other {
            font-size: 14px;
            margin-right: 2rem;
    
            & ul {
                gap: 1rem;
                width: 24rem;
            }
        }
    }
}

@media (max-width: 650px) {
    .top {
        .link {
            .name {
                font-size: 14px;
                margin-left: 1rem;
            }
        }

        .other {
            font-size: 14px;
        }
    }
}


@media (max-width: 613px) {
    .top {

        .name {
            font-size: 12px;
        }

        .other {
            font-size: 12px;
            margin-right: 0.5rem;
    
            & ul {
                gap: 0.5rem;
                width: 20rem;
            }
        }
    }
}

@media (max-width: 530px) {
    .top {

        .link {
            .name {
                font-size: 12px;
                margin-left: 0.25rem;
            }
        }

        .other {
            font-size: 11px;
            margin-right: 0.5rem;
    
            & ul {
                width: 18rem;
            }
        }
    }
}

@media (max-width: 470px) {
    .top {
        .other {
            font-size: 10px;
            margin-right: 0.5rem;
    
            & ul {
                gap: 0.35rem;
                width: 16rem;
            }
        }
    }
}

@media (max-width: 432px) {
    .top {

        .name {
            font-size: 9px;
            margin-left: 0.1rem;
        }

        .other {
            font-size: 8px;
    
            & ul {
                width: 14.5rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .top {

        .name {
            font-size: 8px;
            margin-left: 0rem;
        }

        .other {
            margin-right: 0rem;
    
            & ul {
                gap: 0.4rem;
                width: 13rem;
            }
        }
    }
}