.top {
    display: flex;
    height: 65px;
    align-items: center;
    border-bottom: 1px solid var(--blue-color);
    width: 100%;
    
    .name {
        font-family: var(--font);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.5px;
        letter-spacing: -0.27px;
        margin-left: 7rem;
    }

    .other {
        color: var(--main-color);
        text-decoration: none;
        display: flex;
        margin-left: auto;
        margin-right: 5rem;

        & ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 3rem;
            width: 32.5rem;

            & a {
                text-decoration: none;
                color: var(--main-color);
            }
        }
    }
}
