.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 8rem;

    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .field {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .inpt_pswrd {
                display: flex;
                position: relative;
                width: 100%;

                input {
                    width: 100%;
                    padding-right: 40px; /* Adjust padding to prevent text overlap with icon */
                }

                .toggleIcon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                }
            }

            & label {
                color: #C4C4C4;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-color);
        font-size: 14px;

        & a {
            text-decoration: none;
            color: var(--text-color);

            &:hover {
                color: var(--main-color);
            }
        }
    }

    .password_container {
        display: flex;
    }

    .error {
        background: #4482a7;
        color: white;
        padding: 20px;
    }
}
